[Unit]
Description=Mattermost
After=syslog.target network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/mattermost
User={{ mattermost_user }}
ExecStart=/opt/mattermost/bin/mattermost
PIDFile=/var/spool/mattermost/pid/master.pid
TimeoutStartSec=3600
KillMode=mixed
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
