# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;


	upstream mattermost {
	   server 127.0.0.1:8065;
	}

	proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=mattermost_cache:10m max_size=3g inactive=120m use_temp_path=off;

	# Redirect http to https
	#server {
	#   listen 80 default_server;
	#   server_name   {{ site_fqdn }};
	#   return 301 https://$server_name$request_uri;
	#}

	server {
	   listen 80 default_server;
	   listen [::]:80 default_server;
	   server_name _;

	#   ssl on;
	#   ssl_certificate /etc/letsencrypt/live/{{ site_fqdn }}/fullchain.pem;
	#   ssl_certificate_key /etc/letsencrypt/live/{{ site_fqdn }}/privkey.pem;
	#   ssl_session_timeout 5m;
	#   ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	#   ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
	#   ssl_prefer_server_ciphers on;
	#   ssl_session_cache shared:SSL:10m;

	   location ~ /api/v[0-9]+/(users/)?websocket$ {
	       proxy_set_header Upgrade $http_upgrade;
	       proxy_set_header Connection "upgrade";
	       client_max_body_size 50M;
	       proxy_set_header Host $http_host;
	       proxy_set_header X-Real-IP $remote_addr;
	       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	       proxy_set_header X-Forwarded-Proto $scheme;
	       proxy_set_header X-Frame-Options SAMEORIGIN;
	       proxy_buffers 256 16k;
	       proxy_buffer_size 16k;
	       proxy_read_timeout 600s;
	       proxy_pass http://mattermost;
	   }

	   location / {
	       client_max_body_size 50M;
	       proxy_set_header Connection "";
	       proxy_set_header Host $http_host;
	       proxy_set_header X-Real-IP $remote_addr;
	       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	       proxy_set_header X-Forwarded-Proto $scheme;
	       proxy_set_header X-Frame-Options SAMEORIGIN;
	       proxy_buffers 256 16k;
	       proxy_buffer_size 16k;
	       proxy_read_timeout 600s;
	       proxy_cache mattermost_cache;
	       proxy_cache_revalidate on;
	       proxy_cache_min_uses 2;
	       proxy_cache_use_stale timeout;
	       proxy_cache_lock on;
	       proxy_pass http://mattermost;
	   }
	}

}
